Cody/jp-ws-parent/jp-ws-client/src/main/resources/EnterpriseMathService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MathService" targetNamespace="http://jp.com/math/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jp.com/math/ws" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
<xs:schema xmlns:tns="http://jp.com/math/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://jp.com/math/ws" version="1.0">

  <xs:element name="multiple" type="tns:multiple"/>

  <xs:element name="multipleResponse" type="tns:multipleResponse"/>

  <xs:element name="record" type="tns:record"/>

  <xs:element name="recordResponse" type="tns:recordResponse"/>

  <xs:element name="summation" type="tns:summation"/>

  <xs:element name="summationResponse" type="tns:summationResponse"/>

  <xs:complexType name="multiple">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multipleResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="record">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recordResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="summation">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="numberList" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="summationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="multipleResponse">
    <wsdl:part name="parameters" element="tns:multipleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiple">
    <wsdl:part name="parameters" element="tns:multiple">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="summation">
    <wsdl:part name="parameters" element="tns:summation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="summationResponse">
    <wsdl:part name="parameters" element="tns:summationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recordResponse">
    <wsdl:part name="parameters" element="tns:recordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="record">
    <wsdl:part name="parameters" element="tns:record">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MathEndPoint">
    <wsdl:operation name="multiple">
      <wsdl:input name="multiple" message="tns:multiple">
    </wsdl:input>
      <wsdl:output name="multipleResponse" message="tns:multipleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="record">
      <wsdl:input name="record" message="tns:record">
    </wsdl:input>
      <wsdl:output name="recordResponse" message="tns:recordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="summation">
      <wsdl:input name="summation" message="tns:summation">
    </wsdl:input>
      <wsdl:output name="summationResponse" message="tns:summationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathServiceSoapBinding" type="tns:MathEndPoint">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="multiple">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="multiple">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multipleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="record">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="record">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recordResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="summation">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="summation">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="summationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="MathPort" binding="tns:MathServiceSoapBinding">
      <soap12:address location="http://localhost:9090/MathPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
